@font-face {
  font-family: "vazir";
  src: 
  /* url("/fonts/Vazir.woff2") format("woff2"),
       url("/fonts/Vazir.woff") format("woff"), */
       url("/fonts/Vazir.ttf") format("ttf"),
       url("/fonts/Vazir.eot") format("eot");
       font-weight: 400;
}
@font-face{
  font-family:"vazir";
  src: url("/fonts/Vazir-Medium.eot") format("eot"),
  /* url("/fonts/Vazir-Medium.woff2") format("woff2"),
  url("/fonts/Vazir-Medium.woff") format("woff"), */
  url("/fonts/Vazir-Medium.ttf") format("ttf");
  font-weight: 600;
}
@font-face{
  font-family:"vazir";
  src: url("/fonts/Vazir-Bold.eot") format("eot"),
  /* url("/fonts/Vazir-Bold.woff2") format("woff2"),
  url("/fonts/Vazir-Bold.woff") format("woff"), */
  url("/fonts/Vazir-Bold.ttf") format("ttf");
  font-weight: 800;

}
*{
  box-sizing: border-box;
}
body{
margin:0;
padding:0;
display: flex;
align-items: center;
flex-direction: column;
font-family:vazir;

}

.container{
  
justify-content: center;
 

}
.slideshow{
  grid-area:slideshow;
  justify-content: center;
}
.container-join-us{

  width:100%;
}

footer{
  width:100%;
}
a {
  color:black;
  text-decoration: none;
}
h2{
  font-size:2rem;
  font-weight:500;
  padding-bottom:32px;
  padding-right:8px;
}
h3{
  padding-bottom:16px;
  padding-top:16px;
  padding-right:8px;
}
p{
  font-size:1.125rem;
  font-weight:300;

}

.home-section-3-text .with-us{
  margin-top:24px;
}

/* .content-a-join-us{
  background-color: brown;
}
.container-join-us{
  background-color: cadetblue;
  width:100%;
} */

/* a */
.home-section-4-blog-a{
  border-radius: 24px;
  border: solid 2px #f0f0f0;
  padding:10px;
}

.home-section-4-blog-a:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}





/* b */

.home-section-4-blog-b{
  border-radius: 24px;
  border: solid 2px #f0f0f0;
  padding:10px;
}

.home-section-4-blog-b:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}

/* c */


.home-section-4-blog-c{
  border-radius: 24px;
  border: solid 2px #f0f0f0;
  padding:10px;
}

.home-section-4-blog-c:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}






.home-section-4-blog-image{
 max-width:100%;
 max-height:100%;
 padding:8px;
 
}
.home-section-4-blog-image img{
  max-width:100%;
  max-height:100%;
}
.desktop{
  height: 124px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(52,191,73,0.15);
}
section{
  padding-top:80px;
}
.about-us-section-6{
 margin-top:80px;
}

.home-section-4-blog-date{
  color:#34bf49;
  font-size:12px;
line-height: 0;
padding-right: 5px;
}
.home-section-5-supporter-a{
  width:250px;
  height:250px;
}
.home-section-5-supporter-a:hover{

  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}
.home-section-5-supporter-b{
  width:250px;
  height:250px;
}
.home-section-5-supporter-b:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}
.home-section-5-supporter-c{
  width:250px;
  height:250px;
}
.home-section-5-supporter-c:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}
.home-section-5-supporter-d{
  width:220px;
  display: flex;
  justify-content: center;
  height:220px;
}
.home-section-5-supporter-d:hover{
  border-radius: 24px;
  box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
  background-color: #f8fff8;
}
.desktop-header
{
  width:100%;
    display: grid;
    justify-items: space-between;    
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 20px;
    font-family: vazir;
    font-weight: 400;
    height:124px;
    align-items: center;
  
  
}

.supporters {
 
  display: grid;
   /* background:yellow; */
  grid-template-columns: repeat(4, 1fr);
   grid-template-areas: "photosupporter-a  photosupporter-b  photosupporter-c  photosupporter-d";
  grid-auto-rows: auto;
   
  grid-gap:25px;
  margin-bottom:96px;
  /* margin:0 15%; */
  }



  .supporter-a {
    display: flex;
    justify-content: center;
   
     }
     .supporter-a:hover{
    
      border-radius: 24px;
      box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
      background-color: #ffffff;
      object-fit: cover;
       /* padding: .5rem; */
     }
   
     .supporter-b{
     
      display: flex;
      justify-content: center;
     }
    .supporter-b:hover {
      border-radius: 100px;
      box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
      background-color: #ffffff;
      object-fit: cover;
       /* padding: .5rem; */
     }
  
      .supporter-c:hover { 
        border-radius: 24px;
        box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
        background-color: #ffffff;
        object-fit: cover;
         /* padding: .5rem; */
       }
   
  
     
     .supporter-d:hover{
      padding-top:10px;
      border-radius: 24px;
      box-shadow: 0 0 32px 0 rgba(35, 183, 0, 0.2);
      background-color: #ffffff;
      object-fit: cover;
       /* padding: .5rem; */
     }
 

     .supporter-a-image{
      max-width:100%;
      max-height:100%;
      width:100%;
      object-fit: cover;
    }
    
    .supporter-b-image{
      max-width:100%;
      max-height:100%;
      width:100%;
      object-fit: contain;
    }
    
    .supporter-c-image{
    
      width:100%;
      object-fit: cover;
    }
    
    .supporter-d-image{
    
      width:100%;
      object-fit: cover;
    }
    
      .home-supporters-title-a{
        opacity:0;
        
      }
    .supporter-a:hover + .home-supporters-title-a{
      
      opacity:1;
      text-align: center;
    }
    
    
    .home-supporters-title-b{
      opacity:0;
    }
    .supporter-b:hover + .home-supporters-title-b{
      opacity: 1;
      text-align: center;
      
    }
    
    
    .home-supporters-title-c{
      opacity:0;
      text-align: center;
    }
    .supporter-c:hover + .home-supporters-title-c{
      opacity:1;
      text-align: center;
      
    }
    
    .home-supporters-title-d{
      opacity:0;
    
    }
    .supporter-d:hover + .home-supporters-title-d{
      opacity:1;
      text-align: center;
      
    }
    
.right{
  grid-area: "right";

  display: flex;
  justify-content: center;
 
}
.left{
  grid-area:"left";
  font-weight:300;
  font-size:0.8125rem;
  

}
.footer-link-en-fa{
  font-weight:300;
  font-size:0.8125rem;
}
.middle{
  grid-area:"middle";
  list-style: none;
 display: flex;
 justify-content: space-around;
}
.coml-logo {
  width: 72px;

}
.desktop-header nav.middle li a:hover{
  color:#666;
  text-decoration: none;
}

.desktop-header nav.middle li a{
  cursor: pointer;
  text-decoration: none;
}

.with-us a{
  color:#ffffff;
}

.go-to-about-us-page-in-index{
  display: flex;
  flex-direction: row;
  /* background-color: #666; */
 
  grid-gap: 0px;
  width:130px;
  align-items: center;
  align-content: center;
  padding-top:24px;

}
.go-to-about-us-page-in-index a{
  display: flex;
  color:#34bf49;
  
}
.go-to-about-us-page-in-index-text{

  /* background-color: blueviolet; */
  width:90px;

}
.go-to-about-us-page-in-index-left-arrow{
 
  /* background-color: brown; */
  width:20px;

  
  
}

.with-us{
  display: flex;

  align-items: center;
  justify-content: center;
  justify-self: center;

 border-radius: 24px;
 background-color: #34bf49;
width:150px;
line-height: 1;
padding:8px 0;
 color:#ffffff;
 /* text-align: center; */
} 



.slideshow{
  position:relative;
  padding-top:160px;
  width:90%;

  }
 

  
   
@media screen and (min-width: 1024px){

  .container{
   
    grid-area:container;
   
  width:100%;
  }

   .container-join-us{
    width:1024px;
    grid-area:container;
;
  }
.content-a{
  display: grid;
  justify-items: center;
  

 
}
.content-a-join-us{
  display: grid;
  justify-items: center;

 
}
   .content{
    width:1000px;


  }
  .content-join-us{
    width:924px;

  }

  .home-section-1-pic-text div img .home-section-1-text-image{
    height:90%;
    width:90%;
  }

  .coml-logo {
    width: 72px;

  }
 .desktop-header nav.middle{
   
    grid-gap: 40px;
   
}



.home-section-1-text{
  padding:12px;
}
.home-section-1-pic-text{
 margin-bottom: 96px;

}












.footer-links{
padding:32px 0;
  grid-gap: 45px;
  
}
.footer-bottom{
  font-size:0.8125rem;
  font-weight: 300;
  
  padding:24px 0;

}


}
.desktop-header nav.right{
  object-fit: contain;
}
.desktop-header nav.middle{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    vertical-align: baseline;

}



.left{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;

}
.footer-link-en-fa{
  display:grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.footer-link-en-fa .footer-link-en{
  color:#404040;;
  width:32px;
  height:32px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link-en-fa .footer-link-en:hover{
  cursor: pointer;
}
.left .english{
  color:#404040;;
  width:32px;
  height:32px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left .english:hover{
  cursor: pointer;
  }
  .footer-link-en-fa .footer-link-fa{
    border-radius: 8px;
    border: solid 1px #34bf49;
    color:#34bf49;
    width:32px;
    height:32px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.left .persian{
  border-radius: 8px;
  border: solid 1px #34bf49;
  color:#34bf49;
  width:32px;
  height:32px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link-en-fa .footer-link-fa:hover{
  cursor: pointer;
}
.left .persian:hover{
cursor: pointer;
}
.slideshow{
    object-fit: contain;
    
  
    border-radius: 40px;
    grid-template-columns:auto;
    grid-template-areas:"photo";
  
}
.image-one-slideshow{
  grid-area: photo;
  height:70vh;
 
  object-fit:cover;
  z-index:20;
}

.text-content{
  font-family:vazir;
 
  font-size:1.125rem;
  font-weight: 300;
  text-align: justify;
}























.slideshow-container{
  position:relative;

}
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
   
 z-index:10;
   position: absolute;
   top:50%;
    
    padding: 14px;
    

    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    width:48px;
    height:48px;
    opacity: 0.9;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #000000;
    border-radius: 50%;
    
    /* user-select: none; */
  }
 
  /* Position the "next button" to the right */
  .next {
    right:-1%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari prior 9.0 */
    transform: rotate(180deg); 

  }
  .prev{
    left: -1%;
  }
  .footer{
    margin-top:300px;
  }
 
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
   
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    /* padding: 8px 12px; */
    position: absolute;
    bottom: 8px;
 
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    /* padding: 8px 12px; */
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:#64CE75;
    border-color: #34bf49;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    border-radius:20px;
  }

  .active, .dot:hover {
    /* background-color: #717171; */
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .fade .overly-slider{
   
    grid-area: photo;
    height:60vh;
    background-color:rgba(0,0,0,0.3);
    object-fit:cover;
    z-index:100;
  }

  .dot:hover {
    width: 50px;
   
  }
  @-webkit-keyframes fade {
    from {opacity: .4; color:yellow} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4 } 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }









     .home-section-1-pic-text{
      display:grid;
      grid-template-columns: auto;
     
    
    }
 
     
 
  
 
    

        .footer-top {
          background-color: #efefef;
         
       
            justify-items: center;
            font-family:vazir;
            
            font-size: 0.9375rem;
           
        }
        .footer-top p{
          text-align:center;
          padding-top:40px;
          line-height: 1.6;
        }
        .footer-links div{
          width:100px;
        }
        .footere-top-line-3{
          width:400px;
          
        }
        .footer-top-line-2{
          width:400px;
        }
        .footer-top-section-3-title{
          align-items: center;
          width:200px;
          
        }
        .socialnetworks{
          display: grid;
          grid-gap: 5px;
         
          grid-template-columns: repeat(3,auto);
          grid-template-areas:"socialnetworks-instagram socialnetworks-facebook socialnetworks-whatsapp";
        }

        .socialnetworks-instagram{
          grid-area:socialnetworks-instagram;
          width:48px;
          height:48px;
          background:#ccc;
          border-radius:50%;
        }
.socialnetworks-instagram-image{
  border-radius: 50%;
}
        .socialnetworks-facebook{
          grid-area:socialnetworks-facebook;
          width:44px;
          height:44px;
          background:#ccc;
          border-radius:50%;
        }
.socialnetworks-facebook-image{
  border-radius: 50%;
}
        .socialnetworks-whatsapp{
          grid-area:socialnetworks-whatsapp;
          width:48px;
          height:48px;
          background:#ccc;
          border-radius:50%;
        }
        
   .socialnetworks-whatsapp-image{
     border-radius: 50%;
   }
    
          .line{
            display:grid;
            grid-template-columns: auto;
            margin-top:100px;
            height:1px;
            width:100%;
            border:1px solid  #ddd;
          }


 
        .footer-bottom{
            font-family:vazir;
            font-weight:400;
         
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto;
         
            background-color: #202020;
            color:white;
        }
        .footer-bottom div{
          display: grid;
          grid-template-columns: auto auto auto;
        
        }
/*/...........contact-us-page.............*/

.section-communication-way{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;

}

.section-communication-way p{
  font-weight:600;
  font-size:1.5rem;
}
.section-communication-ways-title h2{
font-family: vazir;
font-size: 2rem;
font-weight:500;
padding-bottom: 60px;
}
.section-contact-us-title h2{
  font-family: vazir;
font-size: 2rem;
font-weight:500;
padding-bottom: 32px;

}

.section-communication-ways-instagram{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-areas:"section-communication-ways-instagram-logo section-communication-ways-instagram-id";

justify-content: right;
grid-gap:20px;
padding-bottom: 60px;
}
.section-communication-ways-instagram-logo{
  grid-area:section-communication-ways-instagram-logo;
  width:30px;
  height:30px;

 
}
.section-communication-ways-instagram-id{
  grid-area:section-communication-ways-instagram-id;
width:200px;
  font-family: vazir;

  
}



.section-communication-ways-telegram{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-areas:"section-communication-ways-telegram-logo section-communication-ways-telegram-id";
  padding-bottom: 60px;
  justify-content: right;
  grid-gap:20px;
}
.section-communication-ways-telegram-logo{
  grid-area:section-communication-ways-telegram-logo;
  width:30px;
  height:30px;

}
.section-communication-ways-telegram-id{
  grid-area:section-communication-ways-telegram-id;
 
  font-family: vazir;
 
}



.section-communication-ways-call{
 display: grid;
 grid-template-columns: repeat(3,auto);

 grid-template-areas:"section-communication-ways-call-logo  section-communication-ways-call-phonenumber-1 section-communication-ways-call-line section-communication-ways-call-phonenumber-2";
 padding-bottom: 60px;
 justify-content: right;
 grid-gap:20px;
 padding-bottom: 60px;
}
.section-communication-ways-call-logo{
  grid-area:section-communication-ways-call-logo;
  width:30px;
  height:30px;

}
.section-communication-ways-call-phonenumber-1{
  grid-area:section-communication-ways-call-phonenumber-1;

  font-family: vazir;

}
.section-communication-ways-call-line{
  grid-area: section-communication-ways-call-line;
  width:1px;
  height:20px;
  background: black;
}
.section-communication-ways-call-phonenumber-2{
  grid-area:section-communication-ways-call-phonenumber-2;
 
  font-family: vazir;
 

}

.section-communication-ways-email{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-areas:"section-communication-ways-email-logo section-communication-ways-email-id";
  justify-content: right;
  grid-gap:20px;
  padding-bottom: 60px;
}
.section-communication-ways-email-logo{
  grid-area:section-communication-ways-email-logo;
  width:30px;
  height:30px;
 
}
.section-communication-ways-email-id{
  grid-area:section-communication-ways-email-id;

}


  
.section-contact-us-full-name{

  width: 400px;
  height: 60px;
  border-radius: 12px;
  padding:0 12px;
  border: solid 1px #cccccc;
  background-color: #f0f0f0;
}
.section-contact-us-email{
  width: 400px;
  height: 60px;
  border-radius: 12px;
  padding:0 12px;
  border: solid 1px #cccccc;
  background-color: #f0f0f0;
  margin-top:12px;
}
.section-contact-us-message-text{
  width: 400px;
  height: 200px;
  border-radius: 12px;
  padding:12px;
  border: solid 1px #cccccc;
  background-color: #f0f0f0;
  margin-top:12px;
  font-family: vazir;
  font-size:18px;
  font-weight:300;
}
.section-contact-us-send-message{
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: solid 1px #cccccc;
  background-color: #34bf49;


  margin-top:12px;
color:white;

}
input[type]{
  font-family: vazir;
  font-size:18px;
  font-weight:300;
}



@media only screen and (min-width:768px){

  .section-contact-us{
    grid-area:section-contact-us;
   
  }

.home-section-4-blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:"home-section-4-blog-a home-section-4-blog-b home-section-4-blog-c";
}
.home-section-5-supporters{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 8px;
}
.home-section-4-blog-a{
  grid-area: home-section-4-blog-a;
  max-width:300px;
}
.home-section-4-blog-b{
  grid-area:home-section-4-blog-b;
  max-width:300px;
}
.home-section-4-blog-c{
  grid-area: home-section-4-blog-c;
  max-width:300px;
}
  .section-communication-ways{
    grid-area:section-communication-ways;
 
  
  }
  .contact-us-content{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-areas: "section-communication-ways section-contact-us";
        margin: 180px 0 80px 0;
        grid-gap: 20px;

  }
}
/*...........join-us.............*/

.content-join-us{
  margin-top:140px;
 
}
.join-us-header-1{
  display: flex;
  justify-content: center;
  

}
.join-us-botton-header{

  display: flex;
flex-wrap: wrap;

  justify-content: space-around;

  border-radius:40px;
height:48px;
padding:4px;



 

 border-radius: 40px;
 background-color: #f0f0f0;
}
.join-us-psychological-services-project-link{

  color:#34bf49;
width:240px;
height:40px;
text-align: center;
padding-top:10px;
  
  border-radius: 36px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;

}
.join-us-social-and-legal-assistance-services-project-link{
  width:300px;
  height:40px;
  text-align: center;
  padding-top:10px;
  border-radius: 36px;;

color: #202020;
}
.join-us-educational-services-project-link{
  width:240px;
  height:40px;
  text-align: center;
  padding-top:10px;
  border-radius: 36px;

color: #202020;
}
.join-us-image{

  display: grid;
  /* margin:0 4%; */
  border-radius: 40px;

  grid-template-columns:repeat(1,autofit);
  grid-template-areas:"join-us-image-1";
  position: relative;
  /* background-color: #34bf49; */
  max-width: 100%;
}
.join-us-image-1{
  grid-area:join-us-image-1;
  
  border-radius: 40px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;

}


.join-us-psychological-services-project{
  display: grid;
  grid-template-columns: auto;
  margin:0 4%;
}
.join-us-cash-support{
  display: grid;
  grid-template-columns:repeat(2,auto);
  /* grid-template-areas: " join-us-cash-support-info join-us-cash-support-image"; */
  /* background-color: hotpink; */
  grid-gap:10px;
  
}
.join-us-cash-support-image{
  /* grid-area:join-us-cash-support-image; */
  /* background-color: red; */
  width:300px;
  height:300px;
  
    margin-bottom: 40px;
}
.join-us-cash-support-image-1{
width:300px;
}
.join-us-cash-support-info{
  /* grid-area:join-us-cash-support-info; */
  /* background-color: lightgreen; */
  width:100%;
  height:200px;
  
  
}
.join-us-cash-support-info-title{
  padding-bottom: 24px;
}
.join-us-cash-support-info-input{
  width: 400px;
  height: 60px;
  border-radius: 12px;
  border: solid 1px #cccccc;
  background-color: #f0f0f0; 
  margin-top: 16px;
}
.join-us-cash-support-info-button{
  width: 200px;
  height: 60px;
  border-radius: 12px;
  background-color: #34bf49;
  margin-top:12px;
  color:white;
}
.join-us-psychological-services-project-text-b{
  padding-right:8px;
}

.join-us-psychological-services-project-title{
  padding-bottom: 32px;
  padding-top: 24px;
}
.join-us-psychological-services-project-text-c{
  margin-bottom: 32px;
}


/* about-us */


.container-about-us{
  margin-top: 144px;
  /* background-color: #666; */
}
  
  .about-us-section-1{

    display: grid;
    /* margin:0 4%; */
    border-radius: 40px;
  height:400px;
    grid-template-columns:repeat(1,autofit);
    grid-template-areas:"about-us-section-1-image";
    position: relative;
    /* background-color: #34bf49; */
  }
  .about-us-section-1-image{
    grid-area:about-us-section-1-image;
    height:400px;
    object-fit: cover;
    border-radius: 40px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
.abpout-us-section-5-line{
  width: 100%;
  height:2px;
  background-color: dimgray;
  margin-top:16px;
}
.about-us-section-7-line{
  width: 100%;
  height:1px;
  background-color: dimgray;
  margin-top:16px;
}
  .about-us-section-2-text{
    padding:0 10px;
  }
  .about-us-section-4-text{
    padding:0 10px;
  }
  .about-us-section-8-text{
    padding:0 10px;
  }
  .about-us-section-6{
    padding:0 10px;
  }
 
  .about-us-section-3{

    display: grid;
    /* margin:0 4%; */
    border-radius: 40px;
  height:400px;
    grid-template-columns:repeat(1,autofit);
    grid-template-areas:"about-us-section-1-image";
    position: relative;
    /* background-color: #34bf49; */
  }
  .about-us-section-3-image{
    grid-area:about-us-section-1-image;
    height:400px;
    object-fit: cover;
    border-radius: 40px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

.about-us-section-5-content-b{
  padding-top:40px;
}

.about-us-section-10{
  display: flex;
  justify-content: center;
  padding:24px 0;
}
.about-us-section-10-item{
  width: 144px;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #34bf49;
  color:#34bf49;
text-align: center;
  padding-top:10px;

}
.about-us-section-9{
  text-align: center;
}









 
 
 





 
 
 
 
 

* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}


body {

  color: #333;

}
.mobile {
  display: grid;
  grid-template-columns: auto;
 background-color: darkorange;
  max-width: 100%;
  
  position: fixed;
}
.mainMenu.act{
height:250px;


}
header {
 
  width:100%;
position: fixed;

 z-index:30;
 top:0;
 right:0;
 left:0;


}
.mobile-header-right{
  display: grid;
 grid-template-areas: "menuBtn logo";
}
.logo {
  grid-area: logo;
  
  width:40px;
  height:40px;
  position: absolute;
  top: 11px;
  right: 80px;
}



/* menu button */
.menuBtn {

    grid-area: menuBtn;
    width:40px;
    height:40px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 101;
}
.menuBtn > span {
  background-color: #000;
  border-radius: 1px;
  height: 2px;
  width: 77%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  transition: height 100ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  background-color: #000;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
  
}
.menuBtn.act > span:after,
.menuBtn.act > span:before {
  
  top: 1px;
}
.menuBtn.act > span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menuBtn.act > span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* main menu block */
.mainMenu {
  background-color:white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  transition: height 0ms;
  /* transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mainMenu.act {
  opacity: 1;
 
}
.mainMenu.act ul li.with-us{
  opacity: 1;
 
}
.mainMenu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 30px;

}
.mainMenu li {
  padding: 8px 0;
 
}
.mainMenu a {
 
  display: inline-block;
  font-size: 18px;
 
}
.mainMenu a:hover{
  color:#333;
}

.mainMenu a.suBtn {
  color: #fff;
}
/* sign up button */
.suBtn {
  background-color: #19b698;
  border-radius: 5px;
  padding: 10px 20px;
}
.mobile-header{
  width:100%;
  grid-area:mobile-header;
  display: grid;
  justify-content: space-between;
}
.footer-link-en-fa div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:50px;
}




header {
  display: grid;
  grid-template-columns: auto;
       width:100%;
     }
     
     .home-section-1-image{
       display: flex;
       justify-content: center;
     }
     .text-1-image-2{
      display: flex;
      justify-content: center;
     }
@media screen and (min-width: 768px){
  /* header{
    width:100%;
  } */
 
.mobile{
  display: none;
  
}

   
.footer-top-sections{
  display: grid;
  grid-template-columns: repeat(3,auto);
 grid-gap: 50px;
  grid-template-areas: "footer-top-section-1 footer-top-section-2 footer-top-section-3";
  padding-top: 50px;
}
.footer-top-section-1{
  grid-area: footer-top-section-1;
}
.footer-top-section-2{
  grid-area: footer-top-section-2;
  height:90px;
  width:1px;
 margin-top:50px;
  border-right:1px solid #ddd;
}
.footer-top-section-3{
  grid-area: footer-top-section-3;
 
}
.footer-link-en-fa{
  display: none;
}


   
  
   

 




 
  


  

  .menu-item{
    color:black;
  }


  /* about-us */

  .about-us-section-2-text{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "about-us-section-2-text-right about-us-section-2-text-left";
    /* background-color: darkmagenta; */
    grid-gap:10px;

  }
  .about-us-section-2-text-left{
    grid-area: about-us-section-2-text-left;
    /* background-color: cadetblue; */
  }
  .about-us-section-2-text-right{
    grid-area: about-us-section-2-text-right;
    /* background-color: darkseagreen; */
  }




  .about-us-section-4-text{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "about-us-section-4-text-right about-us-section-4-text-left";
    /* background-color: darkmagenta; */
    grid-gap:10px;

  }
  .about-us-section-4-text-left{
    grid-area: about-us-section-4-text-left;
    /* background-color: cadetblue; */
  }
  .about-us-section-4-text-right{
    grid-area: about-us-section-4-text-right;
    /* background-color: darkseagreen; */
  }

  .about-us-section-8-text{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "about-us-section-8-text-right about-us-section-8-text-left";
    /* background-color: darkmagenta; */
    grid-gap:10px;

  }
  .about-us-section-8-text-left{
    grid-area: about-us-section-8-text-left;
    /* background-color: cadetblue; */
  }
  .about-us-section-8-text-right{
    grid-area: about-us-section-8-text-right;
    /* background-color: darkseagreen; */
  }


  .about-us-section-6{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "about-us-section-6-content about-us-section-6-image";
  
    grid-gap:10px;
  }
  .home-section-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
    grid-template-areas: "home-section-2-content  home-section-2-image";
  }
  .home-section-2-image{
    grid-area:home-section-2-image;
  }
  .home-section-2-content{
    grid-area: home-section-2-content;
    text-align: right;
    padding-right:10px;
  }
  .home-section-2-image img{
    width:100%;
    max-height:100%;
  }



  .home-section-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  grid-gap:10px;
    grid-template-areas: "home-section-3-image  home-section-3-content";
  }
  .home-section-3-image{
    grid-area:home-section-3-image;
  }
  .home-section-3-content{
    grid-area: home-section-3-content;
    text-align: right;
  }
  .home-section-3-image img{
    width:100%;
    max-height:100%;
  }


  .about-us-section-6-content{
    grid-area: about-us-section-6-content;
    /* background-color: cadetblue; */
    width:100%;
  }


  .about-us-section-6-image{
    grid-area: about-us-section-6-image;
    /* background-color: darkseagreen; */
    
  }


  .about-us-section-5{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: " about-us-section-5-image about-us-section-5-content";
   
    grid-gap:10px;
  }


  .about-us-section-5-content{
    grid-area: about-us-section-5-content;
    /* background-color: cadetblue; */
    width:100%;
  }


  .about-us-section-5-image{
    grid-area: about-us-section-5-image;
    /* background-color: darkseagreen; */
    
  }
  
  
}
@media screen and (max-width: 767px){
  .desktop{
    display: none;
  }
  .contact-us-content{
    margin:0 40px;
 
  }
  .home-section-4-blogs{
display: flex;
flex-direction: column;
background-color: red;
align-items: center;
}
  .home-section-4-blog-a{
    width:60%;
    margin-bottom: 8px;
  }
  .home-section-4-blog-b{
    width:60%;
    margin-bottom: 8px;
  }
  .home-section-4-blog-c{
    width:60%;
    margin-bottom: 8px;
  }
 
  .home-section-2 .home-section-3{
    background-color: #34bf49;
    text-align: center;
  }
  .home-section-2-image .home-section-3-image{
    background-color: #666;
    display: flex;
    justify-content: center;
  
  }
  .home-section-2-image img{
    max-width:100%;
    max-height:100%;
  }
  .home-section-3-image img{
    max-width:100%;
    max-height:100%;
  }
 
  .section-contact-us div{
    display: flex;
    justify-content: center;
  }
  
  .with-us{
    height:40px;
  }
  .content-a-join-us{
  
    margin-top:-120px;
  }
  .slideshow{
    padding:0 10px;
  }
  .footer-top-sections{
    display: grid;
    grid-template-columns: auto;
    padding-top: 24px;
  }
  .footer-top-section-3{
    padding-top: 50px;
  }
  .socialnetworks{
  width:150px;
  padding-right:105px;
   
  }
 .mainContainer header{
   background-color: white;
   box-shadow: 0 3px 5px rgba(52,191,73,0.15);
box-sizing: border-box;
   display: grid;
   height: 56px;
   align-items: center;
   padding-top: 20px;
   grid-template-columns: auto auto;
   grid-template-areas: "mobile-header-right mobile-header-left";
   justify-content: space-between;
 }
 .mobile-header-right{
   grid-area: mobile-header-right;
 }
 .mobile-header-left{
   grid-area: mobile-header-left;
   margin-top: -18px;
   }
.container{
 margin-top: 66px;
}
.container-join-us{
  margin:0;
}


  

  
  

   
 
  


   
    
   
    .text-content{
      padding-left: 16px;
    }

.footer-bottom p{
  padding:0 16px;
  
}
.footer-top-section-3-title{
text-align: center;

margin-right: 75px;
}
    .contact-us-content{
    
      margin: 0px 0 40px 0;
    
    }
    .section-contact-us{
      margin-top:40px;
    
    }
    .join-us-cash-support{
      display: grid;
      grid-template-columns:repeat(1,auto);
      /* grid-template-areas: " join-us-cash-support-info join-us-cash-support-image"; */
      
      grid-gap:10px;
      
    }
   .join-us-cash-support-info{
     height:350px;
   }
  .join-us-cash-support-image{
    margin-bottom: 60px;
  }

 

}
  @media only screen and (max-width: 1050px){

    h2{
      font-size:1.75rem;
      padding-bottom: 24px;
    }
    

   
    .home-section-1-pic-text div .pic{
      height:90%;
      width:90%;
      
      
    }

  .home-section-1-text{
    padding:0  12px;
  }
  .footer-links{
    padding:24px 0;
  }
  footer{
    width:100%;
  }
  .footer-bottom{
    padding:16px 0;
  }
  section{
    padding-top:60px;
  }

 
  .section-communication-ways-title h2{
    font-size: 1.75rem;
    padding-bottom: 32px;
    }
    .section-contact-us-title{
      font-size: 1.75rem;
    padding-bottom: 24px;
    }
    .section-communication-ways-title{
      padding-bottom: 24px;
   
    }
    .section-communication-ways-instagram{
      padding-bottom: 24px;
    }
    .section-communication-ways-telegram{
      padding-bottom: 24px;
    }
    .section-communication-ways-call{
      padding-bottom: 24px;
    }
    .section-communication-ways-email{
      padding-bottom: 24px;
    }
    .join-us-psychological-services-project-title{
      padding-bottom: 24px;
      padding-top: 16px;
      margin-top:16px;
}
.go-to-about-us-page-in-index{
  width:300px;
  
  }
.go-to-about-us-page-in-index-text{
  width:100px;
  
  }
  .go-to-about-us-page-in-index-left-arrow{
width:20px;

  }
    }
    /* .join-us-cash-support-info-title{
      padding-bottom: 24px;
      padding-top: 16px;
    } */
  

  @media only screen and (max-width: 800px){
    

    h2{
      font-size:1.625rem;
      padding-bottom:16px;
    }
   section{
     padding-top:40px;
   }

.footer-links{
  padding:16px 0;
}
.footer-bottom{
  padding:12px 0;
}
 
    .section-communication-ways-title h2{
      font-family: vazir;
      font-size: 1.625rem;
      padding-bottom: 16;
      }
      .section-contact-us-title h2{
        font-family: vazir;
        font-size: 1.625rem;
        padding-bottom: 16;
      }
      .section-communication-ways-title{
        padding-bottom: 16px;
      }
      .section-communication-ways-instagram{
        padding-bottom: 16px;
      }
      .section-communication-ways-telegram{
        padding-bottom: 16px;
      }
      .section-communication-ways-call{
        padding-bottom: 16px;
      }
      .section-communication-ways-email{
        padding-bottom: 16px;
      }
      .join-us-psychological-services-project-title{
        padding-bottom: 16px;
        padding-top: 16px;
      }
      /* .join-us-cash-support-info-title{
        padding-bottom: 16px;
        padding-top: 16px;
      } */
      
     

      .join-us-botton-header{

        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: "join-us-psychological-services-project-link join-us-social-and-legal-assistance-services-project-link join-us-educational-services-project-link";
      
        border-radius:40px;
      height:48px;
      padding:4px;
     
      
       margin-top:70px;
      
       
      }
      .join-us-psychological-services-project-link{
      grid-area:join-us-psychological-services-project-link;
        border-radius: 36px;
        color: #34bf49;
      height:40px;
      text-align: center;
      padding-top:10px;
      
    
     
      font-family: vazir;
      font-size: 16px;
      font-weight: 400;
    
      line-height: 1.5;
     
     
      
      }
      .join-us-social-and-legal-assistance-services-project-link{
        grid-area:join-us-social-and-legal-assistance-services-project-link;
     
        height:40px;
        text-align: center;
        padding-top:10px;
        border-radius: 36px;;
    
      
      }
      .join-us-educational-services-project-link{
        grid-area: join-us-educational-services-project-link;
       
        height:40px;
        text-align: center;
        padding-top:10px;
        border-radius: 36px;
     
      
      }


  }




  @media only screen and (max-width: 500px){
    h2{
      font-size:22px;
      padding-bottom: 16px;
    }
   
    p{
      font-size:16px;
    }
    section{
      padding-top:24px;
    }
  
  .text-content{
      font-size: 16px;
  }

.footer-links{
  padding:16px 0;
}
.footer-bottom {
  font-size: 10px;
  padding:12px 0;
}


 


   
  






  

 



  .section-communication-ways-title h2{
    padding-bottom: 16px;
    font-size:22px;
  }
  .section-contact-us-title h2{
    padding-bottom: 16px;
    font-size:22px;
  }
  .section-communication-way p{
  
   
   font-size:16px;
  }

.join-us-psychological-services-project-title{
  padding-bottom: 16px;
  padding-top: 16px;
}

.join-us-cash-support-info-title{
  padding-bottom: 16px;
  padding-top: 16px;
  



}
.socialnetworks{
  padding-right:90px;
}
.go-to-about-us-page-in-index-text{
  width:80px;
}
  }


  @media only screen and (max-width: 325px){
.container{
  width:300px;
}
.body{
  max-width:300px;
  display: flex;
justify-content: center;
overflow-x: hidden;
}
.content-a{
  max-width:300px;

}
.content{
  max-width:300px;
}
  .contact-us-content{
    max-width:300px;
  }
  footer{
    max-width:300px;
  }
header{
  max-width:320px;
}
.footer-top{
  max-width:300px;
}
.join-us-image{
  margin-top:10px;
}
.join-us-image-1{
margin-right:10px;
}
.join-us-botton-header{
  max-width: 320px;
  font-size:8px;
}
.join-us-psychological-services-project-link{
  max-width:90px;
  font-size:8px;
}

.join-us-social-and-legal-assistance-services-project-link{
  max-width:90px;
}


.join-us-educational-services-project-link{
  max-width:90px;
}
 
.home-section-2{
  display:flex;
  
  flex-direction: column;
}

  }



























  
  @media only screen and (max-width: 768px){
  
    .home-section-1-pic-text div .pic{
      height:70%;
      width:70%;
    }
    .home-section-1-image{
      display: flex;
      /* flex-direction: row; */
      justify-content: center;
      padding:12px;
    }
  }

  @media only screen and (max-width: 360px){
    .section-contact-us-full-name{

      width: 300px;
   
    }
    .section-contact-us-email{
      width: 300px;
    
    }
    .section-contact-us-message-text{
      width: 300px;
    }
    .socialnetworks{
      width:150px;
      padding-right:0px;
       
      }
      
  .footer-top-line-2{
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 5px;
  }
  .footer-top-line-2-a{
    padding-bottom: 5px;
   }
  
   .footer-top-line-3{
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 5px;
  }
  .footer-top-line-3-a{
    padding-bottom: 5px;
   }

   .footer-links{
    display:grid;
    grid-template-columns: auto auto;
  
    grid-gap: 32px;
  }
  .socialnetworks{

  margin-right:105px;
  }
.section-communication-way{
padding-right: 8px;
}
.section-contact-us{
  padding-right: 8px;
}
.join-us-cash-support-info-input{
  width: 300px;
  height: 60px;
  border-radius: 12px;
  border: solid 1px #cccccc;
  background-color: #f0f0f0; 
  margin-top: 16px;
}
.join-us-cash-support-info-button{
  width: 120px;
  height: 60px;
  border-radius: 12px;
  background-color: #34bf49;
  margin-top:12px;
  color:white;
}
.home-section-latest-news p{
  padding-left:20px;  
  }
  }
  @media only screen and (min-width: 360px){
    .section-communication-way{
      padding:0 8px;
      }
      .section-contact-us{
        padding:0 8px;
      }
    .footer-top-line-2{
      display: grid;
      grid-template-columns: repeat(2,auto);
      grid-template-areas: "footer-top-line-2-a footer-top-line-2-b";
      justify-content: space-between;
    }
    .footer-top-line-2-a{
     grid-area: footer-top-line-2-a;
    }
    .footer-top-line-2-b{
      grid-area: footer-top-line-2-b;
     }
  

     .footere-top-line-3{
      display: grid;
      grid-template-columns: repeat(2,auto);
      grid-template-areas: "footer-top-line-3-a footer-top-line-3-b";
     }
     .footer-top-line-3-a{
      grid-area: footer-top-line-3-a;
     }
     .footer-top-line-3-b{
       grid-area: footer-top-line-3-b;
      }
    

      .footer-links{
        display:grid;
        grid-template-columns: repeat(6,auto);
        grid-template-areas:"home about-us call-us news with-us en-fa";
        grid-gap: 32px;
      }
      .footer-link-home{
        grid-area:home;
      
      }
      .footer-link-aboutus{
        grid-area: about-us;
        width:100px;
       
      }
      .footer-link-call-us{
        grid-area: call-us;
       
        width:100px;
      }
      .footer-link-news{
        grid-area: news;
      
        width:100px;
      }
      .footer-link-with-us{
        grid-area:with-us;
     
        width:100px;
      }
      .footer-link-en-fa{
        grid-area: en-fa;
      
        width:100px;
      }
     
    }









    




article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }



















    








